[submodule "3rd_party/Vulkan-Loader"]
	path = 3rd_party/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
[submodule "3rd_party/Vulkan-Headers"]
	path = 3rd_party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
